body{
  font-size: 16px;
  background-color: #ebf9f5;
  color: #24755d;
}

/** HEADER **/
#header-nav {
  background-color: #29896e;
  border-radius: 0;
  border: 0;
 }

.navbar-brand { /* Restaurant name */
  background-color: #29896e;
  height: 80px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Pacifico', cursive;
  color: #fff;
  font-size: 2.4em;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#dropDownList {
  background-color:  #29896e;
  margin-top:0px;
  margin-bottom: 0px;
}

#dropDownList a {
  text-align: center;
  border-bottom: 1px solid  #ebf9f5;
  font-weight: bold;
  color:   #ebf9f5;
 }

#dropDownList a:hover {
  background-color:  #b0e7d8;
  color:    #29896e;
  border-bottom: 1px solid #29896e;
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #fff;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -60px;
}

#ourMenu{
  color: #29896e;
  font-weight: bold;
}

section{
  margin: 10px;
  padding: 10px;
  color: black;
  background-color:  #b0e7d8;
  text-align: justify;
  border-radius: 20px;
  border: solid 1px #29896e;

}

#chicken, #sushi, #beef{
  padding:8px;  
}

#chicken a , #beef a, #sushi a{
  text-align: center;
  color: #24755d;
  font-weight: bold;
  text-decoration: none;
 }


#chicken a:hover , #beef a:hover, #sushi a:hover {
  color:   #fff;
}

