body{
  font-size: 16px;
  background-color: #ebf9f5;
  color: #24755d;
}

/** HEADER **/
#header-nav {
  background-color: #29896e;
  border-radius: 0;
  border: 0;
  height: 80px;
}


.navbar-brand h1 { /* Restaurant name */
  font-family: 'Pacifico', cursive;
  color: #fff;
  font-size: 2.4em;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#dropDownList {
  background-color:  #afe9d8;

}

#dropDownList a {
  text-align: center;
  border-bottom: 1px solid  #29896e;
  font-weight: bold;
 }


#dropDownList a:hover {
  background-color:  #88ddc5;
  color:   #fff;
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #fff;

}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}


#collapsable-nav {
  margin-top: 17px;
  
}

#ourMenu{
  color: #29896e;
  font-weigh: bold;
}

section{
  margin: 40px;
  padding: 10px;
  color: black;
  background-color:  #88ddc5;
  text-align: justify;
  border-radius: 20px;
  border: solid 4px #29896e;
}

#chicken {
  padding:2px;  
  font-weight: bold;

}